@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  margin:0;
}
html,
body {
  margin: 0;
  padding: 0;
}
main {
  background-color: #ECF6FC;
  min-height: 100vh;
  overflow-x: hidden;
  position:relative;
  padding-bottom: 50px;
}


/* DataGrid Styles */

.customDataGrid .MuiDataGrid-main {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 15px #06274035;
  
}
.MuiDataGrid-row:nth-child(even){
  background-color: #ECF6FC;
}

/* Home Page Stats Box */
.statsBox {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

