@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  margin:0;
}
html,
body {
  margin: 0;
  padding: 0;
}
main {
  background-color: #ECF6FC;
  min-height: 100vh;
}

/* DataGrid Styles */
.customDataGrid .MuiDataGrid-columnHeaders {
  background-color: #062740;
  color: #ffffff;
}
.customDataGrid .MuiDataGrid-main {
  background-color: #ffffff;
}
.customDataGrid .MuiTypography-root {
  font-family: Helvetica, sans-serif;
}
/* .customDataGrid .MuiDataGrid-row:nth-child(2n) {
  background: black
}
tr:nth-child(odd) {
  background: green
}
tr:nth-child(1) {
  background:none;
} */
